@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Medium.ttf");
    src: url(/fonts/Avenir-Medium.woff);
    src: url(/fonts/Avenir-Medium.woff2);
    font-weight: normal;
    font-style: normal;
}