//Десктоп
body {
    background-color: #F6FAFD;
}


/*Повторяющиеся элементы*/

.demo-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    letter-spacing: 0.005em;
    background-color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}

.more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.6;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}


/*Навигация*/

.nav {}

.nav__container {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 50px 0;
}

.nav__logo {
    margin-right: 121px;
}

.nav__link {
    margin-right: 40px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6;
    color: #4b5d68;
    &:hover {
        color: #212353;
    }
}

.nav__button {
    margin-left: auto;
}

.arrow {
    margin-left: 15px;
}


/*Инфо-блок 1*/

.comp-info1 {}

.comp-info1__container {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 80px;
}

.comp-info1__container::after {
    content: '';
    position: absolute;
    left: 363px;
    top: 176px;
    z-index: -10;
    background: url(/images/info1.svg) no-repeat;
}

.comp_info1__header {
    width: 645px;
    font-family: Helvetica;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.1;
    color: #212353;
}

.comp-info1__text {
    margin: 50px 0;
    width: 380px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: #4b5d68;
}

.comp-info1__button {
    background-color: #9c69e2;
}

.comp-info1__img {
    position: absolute;
    left: 363px;
    //top: 96px;
    top: 176px;
    z-index: -10;
}

//Планшеты
@media screen and (min-width:768px) and (max-width:1119px) {
    /*Навигация*/
    .nav__container {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav__link {
        margin-right: 25px;
    }
    /*Инфо-блок 1*/
    .comp-info1__container {
        width: 768px;
        overflow: hidden;
    }
    .comp-info1__img {}
}

//Мобилки
@media screen and (max-width:767px) {
    /*Навигация*/
    .nav__container {
        width: 100%;
        padding: 0 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav__link {
        margin-right: 15px;
        font-size: 18px;
        order: 1;
    }
    .nav__link:nth-child(1) {
        margin-left: 30px;
    }
    .nav__logo {
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nav__button {
        width: 170px;
        height: 50px;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .arrow {
        margin-left: 7px;
    }
}